# This file configures the files in the source distribution

# Include the top level readme and license documentation
include *.rst
include LICENSE.txt

include VERSION
include MANIFEST.in
include setup.*

# all testcases
recursive-include pysys-examples *