# This workflow will run a suite of tests using the PySys system test framework

name: PySys

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch: # also allow manually invoking this

jobs:
  test:
    strategy:
      # Disable fail fast since it's useful to see test results for all platforms even if some failed
      fail-fast: false
      
      matrix:
        include:
          - test-run-id: ubuntu
            os: ubuntu-latest
            
          - test-run-id: macos
            os: macos-latest
            
          - test-run-id: win
            os: windows-latest
            
    runs-on: ${{matrix.os}}
    
    steps:
      # Install the desired version of Python and PySys
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install Python dependencies
        id: deps
        run: |
          python -m pip install --upgrade pip
          pip install pysys==2.2

          pip install coverage

      - name: Test with PySys
        working-directory: test
        shell: bash
        id: pysys
        run: |
          python -m pysys run --ci --outdir=${{matrix.test-run-id}}

      - name: Upload Python code coverage 
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # 2022-11 https://github.com/codecov/codecov-action/releases/tag/v3.1.1
        if: steps.pysys.outputs.artifact_PythonCoverageDir
        with:
          name: ${{matrix.test-run-id}}
          directory: ${{ steps.pysys.outputs.artifact_PythonCoverageDir }}

      # If any tests fail, PySys will return an error code, so we need "if: always()" so the following steps will run
      
      - name: Upload performance CSV artifacts
        uses: actions/upload-artifact@v3
        # Only do this if some performance results were generated
        if: always() && steps.pysys.outputs.artifact_CSVPerformanceReport

        with:
          name: pysys_performance_${{matrix.test-run-id}}
          path: ${{ steps.pysys.outputs.artifact_CSVPerformanceReport }}

      - name: Upload archive artifacts for any test failures
        uses: actions/upload-artifact@v3
        if: always() && steps.pysys.outputs.artifact_TestOutputArchiveDir

        with:
          name: pysys_output_${{matrix.test-run-id}}
          path: ${{ steps.pysys.outputs.artifact_TestOutputArchiveDir }}
