Project Configuration
=====================

Each PySys project has a configuration file called ``pysysproject.xml`` at the top level. This file contains 
``property`` elements for any user-defined properties that will be used by your tests such as credentials, server 
names, which are available to your tests using `self.project <pysys.xml.project.Project>`. 
The project file also contains allows customization of how PySys executes tests and reports on the results. 

When starting a new PySys test project you should create a minimal project file from scratch using 
``pysys makeproject``, then add any additional elements you require. 

To illustrate the range of available elements, here is a large project file that demonstrates all the main 
functionality.

Header
~~~~~~

